body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppings;
    background-color: #f4f4f4;
}
.container{
    width: 400px;
    background-color: #e5e4e4;
    color: #6a6a6a;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 20px 20px 50px ;
}
.container h1{
    margin: 0;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}
.container .imagen img{
    width: 90%;
}
.container .imagen{
    background-color: azure;
    margin: 20px 0;
    padding: 15%;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#formulario input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 20px;
    background-color: #040404;
    color: aliceblue;
    text-align: center;
    border-radius: 7px;
    outline: none;
}
#formulario button{
    background-color: #2aca8e;
    width: 100%;
    border: none;
    color: #f4f4f4;
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
    font-weight: bold;
}